* {
    box-sizing: border-box;
    padding: 0;
}
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(93, 90, 97);
}
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.main-container {
    width: 500px;
    background-color:rgb(244, 247, 252);
    border: solid 1px black;
}
.container {
    padding: 1.5rem;
    font-size: .8rem;
}
.day {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8rem;
    letter-spacing: 2px;
    text-shadow: 3px 3px 5px rgb(189, 186, 186);
    text-transform: uppercase ;
    margin-bottom: .5rem;
    color: rgb(121, 47, 47);
} 
.date {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: rgb(121, 47, 47);
    text-shadow: 3px 3px 5px rgb(189, 186, 186);
}
.todo-input {
    border: solid 1px gray;
    padding-left: 12px;  
    width: 400px;
    height: 41px;
    border-radius: 3px;
}
.add-todo {
    background-color: rgb(93, 90, 97);
    font-size: 1.8rem;
    color: white;
    border: solid 1px gray;
    padding: .3rem, 1rem;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    float: right;
    cursor: pointer;
}
.add-todo:hover {
    background-color: rgb(121, 121, 194);
}
.pendingItems, .completedItems {
    padding-left: 1.8rem;
    font-size: .9rem;
}
.todo-container .todo-item {
    background-color: rgb(223, 232, 244);
    margin-bottom: .4rem;
    padding: .5rem .3rem .5rem 1rem;
    border-radius: 3px;
}
.completed-container .todo-item {
    background-color: rgb(255, 255, 255);
    margin-bottom: .4rem;
    padding: .5rem .3rem .5rem 1rem;
    border-radius: 3px;
    text-decoration: line-through;
    color: rgb(146, 140, 140);
}
.hidden {
    display: none;
}
.completed-container .todo-item .delete-button{
    display: none;
}
.todo-item .delete-button {
    display: inline-block;
    border: solid 1px rgb(223, 232, 244);
    border-radius: 4px;
    float: right;
    background-color: rgb(223, 232, 244);
    color: rgb(223, 232, 244);
    cursor: pointer;
    font-size: 1.2rem;
    width: 35px;
    height: 35px;
    position: relative;
    top: -8px;
    right: -4px;
    transition: all 0.7s;
}
.todo-item:hover .delete-button {
    border: solid 1px rgb(245, 5, 5);
    background-color: rgb(245, 5, 5);
}
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
}
.controlBtn {
height: 25px;
width: 150px;
margin: 10px;
}

